.AmountSelect {
    appearance: none;
    height: 40px;
    padding: 0.25em;
    border: none;
    background: #fff;
    border-radius: 4px;
    font-size: 18px;
    color: #8a97a0;
    margin-bottom: 1.2em
  }
  
  