.CheckboxLabel {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  color: #eee;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  user-select: none;
}

.CheckboxLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.CheckboxCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  border-radius: 4px;
  width: 25px;
  background-color: #ffffff;
}

.CheckboxLabel input:checked ~ .CheckboxCheckmark {
  background-color: #98ff98;
}

.CheckboxCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

.CheckboxLabel input:checked ~ .CheckboxCheckmark:after {
  display: block;
}

.CheckboxLabel .CheckboxCheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}