.ComparisonFormWrap {
    background: #00b4ff;
    max-width: 400px;
    margin: 9em auto;
    border: 2px solid #fff;
    padding: 5em;
    min-height: 390px;
    max-height: 500px;
    text-align: center;
}

.ComparisonFormTitle {
    color: white;
    font-size: 2em;
    margin-top: 0;
}

@media (max-width: 500px) {
    .ComparisonFormWrap {
        min-height: 480px;
        padding: 5em 2em;
    }
}